<h1>employee-add-reactive works!</h1>


<form (submit)="onFormSubmit()" [formGroup]="employeeForm">
    <label> Enter Employee Name: </label>
    <input type="text" name="name" formControlName="name">
    <span *ngIf="employeeForm.controls['name'].invalid
                && employeeForm.controls['name'].touched">
        <span *ngIf="employeeForm.controls['name'].errors['required']"> Name is required</span>
        <span *ngIf="employeeForm.controls['name'].errors['pattern']"> Pattern allowed: [a-zA-Z ]+</span>
    </span>
    <br /> <br />
    <label> Enter Employee city: </label>
    <input type="text" name="city" formControlName="city">
    <span *ngIf="employeeForm.controls['city'].invalid
    && employeeForm.controls['city'].touched">
        <span *ngIf="employeeForm.controls['city'].errors['required']"> City is required</span>
        <span *ngIf="employeeForm.controls['city'].errors['pattern']"> Pattern allowed: [a-zA-Z ]+</span>
    </span>
    <br /> <br />
    <label> Enter Employee Salary: </label>
    <input type="text" name="salary" formControlName="salary">
    <span *ngIf="employeeForm.controls['salary'].invalid
    && employeeForm.controls['salary'].touched">
        <span *ngIf="employeeForm.controls['salary'].errors['required']"> salary is required</span>
        <span *ngIf="employeeForm.controls['salary'].errors['minlength']"> minlength is 4</span>
        <span *ngIf="employeeForm.controls['salary'].errors['maxlength']"> maxlength is 10</span>
        <span *ngIf="employeeForm.controls['salary'].errors['pattern']"> pattern allowd: [0-9]</span>
    </span>
    <br /> <br />
    <label> Enter Employee Department: </label>
    <input type="text" name="department" formControlName="department">
    <span *ngIf="employeeForm.controls['department'].invalid
    && employeeForm.controls['department'].touched">
        <span *ngIf="employeeForm.controls['department'].errors['required']"> Name is required</span>
        <span *ngIf="employeeForm.controls['department'].errors['pattern']"> Pattern allowed: [a-zA-Z ]+</span>
    </span>
    <br /> <br />

    <input type="submit" value="Add Employee" [disabled]="!employeeForm.valid">


</form>