<h1>Hello Angular</h1>
<app-calc></app-calc>
<hr>
<app-array></app-array>
<hr>
<app-address></app-address>
<hr>
<app-employee-list></app-employee-list>
<hr>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<app-employee-add></app-employee-add>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<app-employee-add-reactive></app-employee-add-reactive>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<app-employee-list [data] ="employees"></app-employee-list>



<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />



<div class="navbar">
  <span>
    <a routerLink="/dashboard">Dashboard</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/posts">Posts</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/products">Products</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/category">Category</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/employee">Employee</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/vendor">Vendor</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/cities">Cities</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/sign-up">Sign-Up</a> &nbsp;&nbsp;&nbsp;
  </span>
  <span *ngIf="username !='' " >
    Welcome {{username}} &nbsp;&nbsp;&nbsp;
    <a routerLink="/Profile">Profile</a> &nbsp;&nbsp;&nbsp;
    <a routerLink ="/logout">Logout</a>

  </span>

  <span *ngIf="username == '' " >
    <a routerLink="/login">Login</a>
  </span>

    <hr>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />



